.tarja {
    width: 600px;
    height: 100px;
    background-color: darksalmon;
    padding-top: 60px;
    margin-top: 400px;
    text-align: center;
    transform-origin: top left;
    transform: rotate(-45deg);
}